<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Forget Password</h3>
    <p>Forget your password ? Reset it securly</p>
    <input type="text" id="newPassword" name="newPassword">
    <button type="reset">Reset password</button>
</body>
</html>